body{
    
    background: linear-gradient(150deg,#1941e1,#9b05ff);
    text-align:center;
    margin:10%;
}

.box{

    width:400px;
    margin:auto;
    padding:10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    text-align:center;
    border-radius:20px; 
}


h1{
    color: white;
    font-weight:bold;
    text-shadow: 5px 0px 10px black;
}

h3{
    color: white;
    font-weight:bold;
    text-shadow: 5px 0px 10px black;
}

button{
    width:100px;
    height:30px;
    border-radius:59px;
    border:none;
    color:black;
}

button:hover{
    background-color:bfb6b6;
    color:black;
    transition:0.5s;
    transform: scale(1.05);
}